extends layout
block content
    h1= title
 
    if (toShow == null)
        h2 No instance to update
   
    else
        - let furnitureid = toShow._id
        - let furniture_name = toShow.furniture_name
        - let furniture_specification = toShow.furniture_specification
        - let furniture_cost = toShow.furniture_cost
       
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{furnitureid}
       
        - let actionid = "/resource/furniture/" + furnitureid
       
        form(id='FurnitureForm', action= actionid, method="PUT")
            div.form-group
                label.furnitureAttr(for='furniture_name') Furniture Name
                input#furniture_name(type='text', name='furniture_name',value= furniture_name)
            div.form-group
                label.furnitureAttr(for='furniture_specification') Furniture Specification
                input#furniture_specification(type='text', name='furniture_specification',value= furniture_specification)
            div.form-group
                label.furnitureAttr(for='furniture_cost') Furniture Cost
                input#furniture_cost(type='number', name='furniture_cost',value= furniture_cost)
                br
                br
            input(type="submit")
           
            script.
                document.forms['FurnitureForm'].addEventListener('submit', (event) => {
                    event.preventDefault();
                    // TODO do something here to show user that form is being submitted
                    fetch(event.target.action, {
                        method: 'PUT',
                        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                    }).then((resp) => {
                        return resp.json(); // or resp.text() or whatever the server sends
                    }).then((body) => {
                        alert("Update succeded")
                        // TODO handle body
                    }).catch((error) => {
                        // TODO handle error
                        alert("Update failed " + error )
                    });
                });