body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.furnitureAttr {
  box-shadow: black;
  background-color:rgb(70, 153, 216);
  width: 300px;
  }
